#background {
  background-color: #bee1e6;
}

#login_button {
  background-color: #bee1e6;
}

#login_button:hover {
  background-color: #006d77;
}

#link:hover {
  color: #006d77;
}

#checkbox {
  color: #006d77;
}
